.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

body {
  display: flex;
  justify-content: center;
}

#view,
#view2 {
  width: 100%;
  height: 100%;
  max-width: 800px;
}
